<footer class="page-footer font-small bg-dark">

    <div class="container text-center">
  
      <div class="row">
  
        <div class="col-md-12 py-5  ">
          <div class="mb-5 flex-center">
            <a class="gplus-ic" href="mailto:aditya001tomar@gmail.com">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="li-ic" href="https://www.linkedin.com/in/adad20">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="li-ic" href="https://www.github.com/adad20">
                <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
          </div>
          <button type="button" class="btn btn-secondary" onclick="window.location.href='https://github.com/adad20/covid-19_Hub';"><i class="fab fa-github"></i> Contribute Here</button>
        </div>
    </div>
      <!-- Grid row-->
      <h4 style="color: #d8ebb5; margin-bottom: 0; font-family: 'Sacramento', cursive; font-size: xx-large;">Made with ❤ by Aditya</h4>
    </div>
    <!-- Footer Elements -->
  
    
  
  </footer>