.Body{
    background-image: url('../images/bg.jpg');
}

.world{
    align-self: auto;
}

.title{
    color: antiquewhite;
    text-align: justify;
    font-family: 'Chelsea Market', cursive;
    font-size: 4em;
}

.title1{
    color: antiquewhite;
    text-align: justify;
}

td h4{
    color: azure;
} 

